.nopage-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 40px;

}

@media screen and (max-width: 767px){
    .nopage-container {
        font-size: 20px;
    }
}